@font-face {
  font-family: "Poppins";
  src: url("./POPPINS-THIN.TTF");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./POPPINS-THINITALIC.TTF");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("./POPPINS-EXTRALIGHT.TTF");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./POPPINS-EXTRALIGHTITALIC.TTF");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("./POPPINS-LIGHT.TTF");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./POPPINS-LIGHTITALIC.TTF");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("./POPPINS-REGULAR.TTF");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("./POPPINS-ITALIC.TTF");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("./POPPINS-MEDIUM.TTF");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("./POPPINS-MEDIUMITALIC.TTF");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("./POPPINS-SEMIBOLD.TTF");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("./POPPINS-SEMIBOLDITALIC.TTF");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("./POPPINS-BOLD.TTF");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("./POPPINS-BOLDITALIC.TTF");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("./POPPINS-EXTRABOLD.TTF");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("./POPPINS-EXTRABOLDITALIC.TTF");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("./POPPINS-BLACK.TTF");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("./POPPINS-BLACK.TTF");
  font-weight: 900;
  font-style: italic;
}
